<div *ngIf="!listado">
  <span #cargando>
      <ng-content select="[cargando]"></ng-content>
  </span>
  <span *ngIf="!cargando.innerHTML.trim()">
    <img
    src="https://i.pinimg.com/originals/78/e8/26/78e826ca1b9351214dfdd5e47f7e2024.gif"
    >
  </span>
</div>
<div *ngIf="listado?.length === 0">
  <span #vacio> <ng-content select="[vacio]"> </ng-content></span>
  <span *ngIf="!vacio.innerHTML.trim()">
    <p>No Hay peliculas para mostrar</p>
  </span>
</div>
<ng-container *ngIf="listado && listado.length > 0">
  <ng-content select="[contenido]"></ng-content>
</ng-container>
