<app-listado-generico [listado]="peliculas">
  <ng-container vacio>
    <div> Mensaje perzonalizado para contenido <b>vacio</b></div>
  </ng-container>
  <ng-container contenido>
    <div *ngFor="let pelicula of peliculas; let index = index" class="pelicula-contenedor">
        <h3>
            pelicula {{index}}:
            {{pelicula.titulo | uppercase}}
            <button style="margin-left: 1rem;" (click)="remover(index)">remover</button>
        </h3>
        <div>{{pelicula.fechaLanzamiento | date:"dd-MMMM-yyyy" | uppercase}}</div>
        <div>{{pelicula.precio | currency}}</div>
    </div>
  </ng-container>
</app-listado-generico>
